body {
    background-color: rgb(139, 190, 252);

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

    .posts {
        display: flex;
        flex-direction: column;
        line-height: 170%;


        .title {
            font-size: 1.5em;
        }

        .author {
            font-size: 0.9em;
            
        }

    }

}